<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
 Accounts
 /* test comment */
  <apex:outputLink value="{!URLFOR($Page.AccoutCreationforSite,null, 
                [id='0016F00001ubBKE'])}">fgfgfgfgfg
                </apex:outputLink>
                
                
                 <!-- Remote Objects definition to set accessible sObjects and fields -->
    <apex:remoteObjects >
        <apex:remoteObjectModel name="Account" jsShorthand="Warehouse" 
            fields="Name,Id">        
            <apex:remoteObjectField name="Phone" jsShorthand="Phonde"/>
        </apex:remoteObjectModel>
    
       
    <apex:remoteObjectModel name="Contact" fields="Id,FirstName,LastName,Phone">
        
    </apex:remoteObjectModel>

    </apex:remoteObjects>
    <!-- JavaScript to make Remote Objects calls -->
    <script>
        var fetchWarehouses = function(){
            // Create a new Remote Object
            
            var wh = new SObjectModel.Warehouse();
                                 
            // Use the Remote Object to query for 10 warehouse records
            wh.retrieve({ where:  { Name: {eq: 'dg' }},limit: 10 }, function(err, records, event){
                if(err) {
                    alert(err.message);
                }
                else {
                    var ul = document.getElementById("warehousesList");
                    records.forEach(function(record) {
                        // Build the text for a warehouse line item
                        var whText = record.get("Name");
                        whText += " -- ";
                        whText += record.get("Phone");
                        
                        // Add the line item to the warehouses list
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(whText));
                        ul.appendChild(li);
                    });
                }
            });
           var ct = new SObjectModel.Contact({ 
                FirstName: "Aldo",
                LastName: "Michaels", 
                Phone: "(415) 555-1212"
            });
             ct.create();
          
        };
    </script>

    <h1>Retrieve Warehouses via Remote Objects</h1>

    <p>Warehouses:</p>

    <ul id="warehousesList">
    </ul>
    <button onclick="fetchWarehouses()">Retrieve Warehouses</button>
</apex:page>